@import "bootstrap/dist/css/bootstrap.min.css";

code,
pre {
  font-family: var(--font-geist-mono), monospace;
}

.main-content-layout {
  margin-left: 0;
}

@media (min-width: 768px) {
  .main-content-layout {
    margin-left: 260px;
  }
}
