@import "bootstrap/dist/css/bootstrap.min.css";

code,
pre {
  font-family: var(--font-geist-mono), monospace;
}

.main-content-layout {
  margin-left: 0;
}

/* Orders */
.order-btn-close {
  width: 32px;
  height: 32px;
  top: -15px;
  right: -15px;
  z-index: 10;
}

/* Animations */
/* Анимация пульсации сокета */

@keyframes pulse-live {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
    filter: drop-shadow(0 0 3px rgba(25, 135, 84, 0.6));
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

/* Класс для иконки */
.animate-pulse-live {
  animation: pulse-live 2s infinite ease-in-out;
  display: inline-block;
}

/* Анимация для цифры при обновлении счётчика */
@keyframes counter-bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    color: #157347; /* Чуть темнее зелёный при вспышке */
  }
  100% {
    transform: scale(1);
  }
}

.animate-counter-bump {
  animation: counter-bump 0.3s ease-out;
  display: inline-block;
}

@media (min-width: 768px) {
  .main-content-layout {
    margin-left: 260px;
  }
}
